In [1]:
import pandas as pd
path1 = "https://github.com/thechaudharysab/Chipotle-data_analysis-example/blob/master/chipotle.tsv"
r = pd.read_html(path1) 
array = r[0]

In [2]:
print(array['item_name'].value_counts().idxmax())
#array['item_name'].value_counts().max()

Chicken Bowl

In [3]:
print(array['choice_description'].value_counts().idxmax())
#array['choice_description'].value_counts().max()
#print(array['choice_description'].value_counts())

[Diet Coke]

In [4]:
array['revenue'] = array['quantity'] * (array['item_price'].str.lstrip('$')).astype(float)
array['revenue'].sum()

39237.02

In [5]:
#average = 0
#for i in range (array['order_id'].max()):
#    temp = (array[array['order_id'] == i]['quantity'] * (array[array['order_id'] == i]['item_price'].str.lstrip('$')).astype(float)).sum()
#    average += temp
#average /= array['order_id'].max()
re = array.groupby('order_id')
s = re['revenue'].agg('sum')
s.sum()/array['order_id'].max()

21.39423118865867

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#revenues.hist(bins=100)
#plt.show()
X = np.arange(19)+1
Y = []
for i in X:
    Y.append(s[(i-1)*100:i*100].sum())
plt.bar(X,Y,width = 0.5)
plt.xticks(X)
plt.xlabel("order 100*(x-1)+1 to 100*x")
plt.ylabel("Revenue sum")
plt.show()
#s.hist(bins=10)
#s1 = pd.Series(range(0,1835))
#s.to_frame().join(s1,'order_id')
#data = pd.DataFrame({'order_id':s1,'revenue': s})
#data.hist(bins=100)
#data